<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Show Client</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-sm-6">
                    <h2>Client</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Client Id:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${client.id}">client Id</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${client.name}">Description</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 sm-2 control-label">Email:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${client.email}">Image</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 sm-2 control-label">Phone Number:</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" th:text="${client.phone}">Image</p>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <a href="/client/list">Back to Clients' list</a>
                </div>
            </div>
        </div>

    </body>
</html>